body{
  margin: 0;
  padding: 0;
}


/* Style the sidebar - fixed full height */
.sidebar {
    height: 800px;
    width: 250px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E6E4F0;
    overflow-x: hidden;
    padding-top: 2px;
  }
.h{
    width: 200px;
    height: 5px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: black;
}
  /* Style sidebar links */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    background-color: #E6E4F0;
    border-radius: 80px;
    height: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }

  span{
    color: black;
    font-size: 15px;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    background-color: #536EFF;
  }
  .sidebar p{
    margin-left: 17px;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /*========================= Tag ==================================*/
  .box {
    position: relative;
    width: 238px;
    height: 114px;
  }
  
  .box .group {
    width: 240px;
    height: 114px;
    top: 0;
    left: 0;
  }
  
  .box .line {
    position: absolute;
    width: 238px;
    height: 1px;
    top: -1px;
    left: 0;
    object-fit: cover;
  }
  
  .box .text-wrapper {
    top: 16px;
    left: 14px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #757575;
    font-size: 16px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .tag {
    top: 84px;
    position: absolute;
    width: 62px;
    height: 30px;
    left: 14px;
  }
  
  .box .overlap-group {
    background-color: #ffb784;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 10px;
  }
  
  .box .div {
    position: absolute;
    top: 6px;
    left: 12px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e17527;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .overlap-wrapper {
    position: absolute;
    width: 62px;
    height: 30px;
    top: 42px;
    left: 160px;
  }
  
  .box .overlap {
    background-color: #c4caff;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 10px;
  }
  
  .box .text-wrapper-2 {
    top: 6px;
    left: 12px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #4d58b9;
    font-size: 14px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .overlap-group-wrapper {
    position: absolute;
    width: 62px;
    height: 30px;
    top: 42px;
    left: 86px;
  }
  
  .box .div-wrapper {
    background-color: #f6c6da;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 10px;
  }
  
  .box .text-wrapper-3 {
    top: 6px;
    left: 12px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ff3f91;
    font-size: 14px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .tag-2 {
    top: 42px;
    position: absolute;
    width: 62px;
    height: 30px;
    left: 14px;
  }
  
  .box .overlap-2 {
    background-color: #bcf8a0;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 10px;
  }
  
  .box .text-wrapper-4 {
    top: 6px;
    left: 12px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #33a100;
    font-size: 14px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }

/*========================Logo=============================*/
  .skill-box{
    padding: 2rem;
  margin-left: 20px;
}
.img{
    width: 80px;
    height: 80px;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.img img{
    width: 70px;
    height: auto;
    margin-left: 4px;
}

.skill-title h3{
    color: #fff;
    margin-top: 5px;
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
}



.sidebar__account {
    display: flex;
    align-items: center;
    column-gap: .5rem;
  }
  
  .sidebar__name {
    font-size: var(--normal-font-size);
    color: var(--white-color);
    margin-bottom: .25rem;
  }
  
  .sidebar__email {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
  }
  
  .sidebar__account i {
    color: var(--white-color);
    font-size: 1.5rem;
    margin-left: auto;
    cursor: pointer;
  }
  

main{
  margin-left: 30%;
}

/*====================Content==================*/
.frame {
  position: relative;
  width: 785px;
  height: 162px;
}

.frame .group {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.frame .img {
  position: relative;
  width: 124.5px;
  height: 24px;
  z-index: 1;
}

.frame .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 52px;
  padding: 22px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1px;
  z-index: 0;
  background-color: #ffffff;
  border-radius: 0px 10px 10px 10px;
  border: 1px solid;
  border-color: #e6e4f0;
}

.frame .div-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 7px;
  position: relative;
  flex: 0 0 auto;
}

.frame .img-2 {
  position: relative;
  width: 28px;
  height: 28px;
}

.frame .text-wrapper {
  position: relative;
  width: 165px;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #82808f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 27.6px;
}

.frame .div-3 {
  display: flex;
  width: 203px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #a2a2a2;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .vector {
  position: relative;
  width: 20px;
  height: 4px;
}

.frame .group-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 269px;
}

.frame .group-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 538px;
}
