
/* Style the sidebar - fixed full height */
.sidebar {
    height: 1024px;
    width: 274px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E6E4F0;
    overflow-x: hidden;
    padding-top: 2px;
  }
.h{
    width: 200px;
    height: 5px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: black;
}
  /* Style sidebar links */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    background-color: #E6E4F0;
    border-radius: 80px;
    height: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }

  span{
    color: black;
    font-size: 15px;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    background-color: #536EFF;
  }
  .sidebar p{
    margin-left: 17px;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

/*========================Logo=============================*/
  .skill-box{
	padding: 2rem;
}
.img{
	width: 80px;
	height: 80px;
	border-radius: 45px;
	background-color: #fff;
	display: flex;
	align-items: center;
}
.img img{
	width: 20px;
	height: auto;
	margin-left: 4px;
}

.skill-title h3{
	color: #fff;
	margin-top: 5px;
    text-align: center;
    margin-left: 100px;
}



.sidebar__account {
    display: flex;
    align-items: center;
    column-gap: .5rem;
  }
  
  .sidebar__name {
    font-size: var(--normal-font-size);
    color: var(--white-color);
    margin-bottom: .25rem;
  }
  
  .sidebar__email {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
  }
  
  .sidebar__account i {
    color: var(--white-color);
    font-size: 1.5rem;
    margin-left: auto;
    cursor: pointer;
  }
  