
/* Style the sidebar - fixed full height */
.sidebar__logo {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: .5rem;
  }
  
  .sidebar__logo-img {
    width: 37px;
  }
  .sidebar__logo-text {
    width: 76px;
  }
.sidebar {
    height: 1024px;
    width: 274px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E6E4F0;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    font-weight: 5px;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    background-color: #536EFF;
  }
  .sidebar p{
    margin-left: 17px;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

/*========================Logo=============================*/
  .skill-box{
	padding: 1rem;
	color: #ddd;    
}
.img{
	width: 90px;
	height: 90px;
	position: relative;
	border-radius: 45px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: .5s;
}
.img img{
	width: 80px;
	height: auto;
	margin-left: 4px;
}

.skill-title h3{
	color: #fff;
	margin-top: 5px;
    margin-left: 8px;
    text-align: right;
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
	width: 35px;
}
.skill-box:hover .img{
	transform: translateY(-10px);
}