body{
  margin: 0;
  padding: 0;
}


/* Style the sidebar - fixed full height */
.sidebar {
    height: 1000px;
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 2px;
    position: relative;
    border-right-width: 0.8px;
    border-right-style: solid;
    border-color: black;
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border-radius: 10px;
    height: 40px;
    margin-left: 5px;
  }

  span{
    color: black;
    font-size: 14px;
  }
  
  .sidebar a:hover {
    background-color: #536EFF;
    height: 40px;
  }
  .sidebar p{
    margin-left: 17px;
  }
  
  
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .text-wrapper {
    left: 14px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #757575;
    font-size: 16px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }

  .sidebar-break {
    margin: 10% 6% 6%;
    border-bottom: 1px solid #000;
}

  /*========================= Tag ==================================*/
  .box {
    position: relative;
    width: 50px;
    height: 100px;
  }
  
  .box .group {
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
  }
  
  .box .line {
    position: absolute;
    width: 238px;
    height: 1px;
    top: -1px;
    left: 0;
    object-fit: cover;
  }
  
  .box .text-wrapper {
    top: 16px;
    left: 14px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #757575;
    font-size: 16px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
 
  
  .box .tag {
    top: 84px;
    position: absolute;
    width: 50px;
    height: 30px;
    left: 14px;
  }
  
  .box .overlap-group {
    background-color: #ffb784;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 10px;
  }
  
  .box .div {
    position: absolute;
    top: 6px;
    left: 8px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e17527;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .overlap-wrapper {
    position: absolute;
    width: 62px;
    height: 30px;
    top: 42px;
    left: 135px;
  }
  
  .box .overlap {
    background-color: #c4caff;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 10px;
  }
  
  .box .text-wrapper-2 {
    top: 6px;
    left: 8px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #4d58b9;
    font-size: 14px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .overlap-group-wrapper {
    position: absolute;
    width: 50px;
    height: 30px;
    top: 42px;
    left: 75px;
  }
  
  .box .div-wrapper {
    background-color: #f6c6da;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 10px;
  }
  
  .box .text-wrapper-3 {
    top: 6px;
    left: 8px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ff3f91;
    font-size: 14px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .tag-2 {
    top: 42px;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 14px;
  }
  
  .box .overlap-2 {
    background-color: #bcf8a0;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 10px;
  }
  
  .box .text-wrapper-4 {
    top: 6px;
    left: 8px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #33a100;
    font-size: 14px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }

  .avatar {
    display: flex;
    width: 200px;
    align-items: center;
    gap: 8px;
    padding: 8px;
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #e6e4f0;
    margin-left: 5px;
    top: 260px;
  }
  
  .avatar .rectangle-wrapper {
    position: relative;
    width: 48px;
    height: 48px;
    background-size: 100% 100%;
  }
  
  /*.avatar .rectangle {
    position: relative;
    width: 18px;
    height: 18px;
    top: 34px;
    left: 36px;
    background-color: #00b884;
    border-radius: 2px;
    border: 3px solid;
    border-color: #ffffff;
  }*/
  
  .avatar .fa-solid {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 21px;
    left: 182px;
  }
  
  .avatar .group {
    position: relative;
    width: 80px;
    height: 36px;
  }
  
  .avatar .text-wrapper {
    position: absolute;
    height: 18px;
    top: 0;
    left: 0;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-weight: 500;
    color: #53515a;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .avatar .div {
    position: absolute;
    height: 18px;
    top: 18px;
    left: 0;
    font-family: "Plus Jakarta Sans-Regular", Helvetica;
    font-weight: 400;
    color: #a0a0a2;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }

  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 5px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
/*========================Logo=============================*/
  .skill-box{
    padding: 2rem;
    margin-left: 1px;
}
.img{
    width: 80px;
    height: 80px;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.img img{
    width: 130px;
    height: auto;
    margin-left: 4px;
}

.sidebar__account {
    display: flex;
    align-items: center;
    column-gap: .5rem;
  }
  
  .sidebar__name {
    font-size: var(--normal-font-size);
    color: var(--white-color);
    margin-bottom: .25rem;
  }
  
  .sidebar__email {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
  }
  
  .sidebar__account i {
    color: var(--white-color);
    font-size: 1.5rem;
    margin-left: auto;
    cursor: pointer;
  }


  .nav__user {
    position: absolute;
    padding: 8px 14px;
    bottom: 0;
    left: 0;
    width: 251px;
    height: 60px;
    background-color: var(--light-green);
    display: flex;
    align-items: center;
  }
  .nav__user-img {
    width: 45px;
    height: 45px;
    margin-right: 9px;
  }
  
  .nav__user-icon {
    width: 24px;
    height: 24px;
    margin: 14px;
  }
  
  .nav__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .name {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }
  
  .profission {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
  
  /* SHOW */
  
  .show {
    width: 250px;
  }
  
  .none {
    transition: .3s;
    display: none;
  }
  
  .left {
    transform: translateX(172px);
  }
/*====================Content==================*/
.frame {
  width: 104%;
  height: 955px;
  position: absolute;
  display: flex;
  top: 5%;
  justify-content: center;
  align-items: center;
}

.frame .group {
  position: relative;
  width: 824px;
  height: 978px;
  left: -18px;
}

.frame .div {
  display: flex;
  width: 106px;
  height: 36px;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 0;
  left: 18px;
}

.frame .img {
  position: relative;
  width: 22px;
  height: 22px;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #56555c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 785px;
  align-items: flex-start;
  gap: 22px;
  position: absolute;
  top: 63px;
  left: 20px;
}

.frame .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  position: relative;
  flex: 0 0 auto;
}

.frame .div-3 {
  position: relative;
  width: 785px;
  height: 162px;
}

.frame .group-2 {
  position: absolute;
  width: 247px;
  height: 162px;
  top: 0;
  left: 0;
}

.frame .group-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 269px;
}

.frame .group-4 {
  position: relative;
  width: 124.5px;
  height: 24px;
  z-index: 1;
}

.frame .div-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 52px;
  padding: 22px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1px;
  z-index: 0;
  background-color: #ffffff;
  border-radius: 0px 10px 10px 10px;
  border: 1px solid;
  border-color: #e6e4f0;
}

.frame .div-5 {
  display: inline-flex;
  align-items: flex-start;
  gap: 7px;
  position: relative;
  flex: 0 0 auto;
}

.frame .img-2 {
  position: relative;
  width: 28px;
  height: 28px;
}

.frame .text-wrapper-2 {
  position: relative;
  width: 165px;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #82808f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 27.6px;
}

.frame .div-6 {
  display: flex;
  width: 203px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #a2a2a2;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .vector {
  position: relative;
  width: 20px;
  height: 4px;
}

.frame .group-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 538px;
}

.frame .div-7 {
  display: inline-flex;
  align-items: flex-start;
  gap: 22px;
  position: relative;
  flex: 0 0 auto;
}

.frame .group-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.frame .div-8 {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 443px;
  left: 32px;
}

.frame .component-wrapper {
  display: inline-flex;
  height: 500px;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 478px;
  left: 0;
}

.frame .component {
  position: relative;
  width: 824px;
  height: 518px;
  margin-bottom: -18px;
  border-radius: 5px;
  overflow: hidden;
}

.frame .property-default {
  position: absolute;
  width: 784px;
  height: 229px;
  top: 20px;
  left: 20px;
}

.frame .div-9 {
  position: absolute;
  width: 248px;
  height: 229px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e6e4f0;
}

.frame .rectangle {
  position: absolute;
  width: 228px;
  height: 112px;
  top: 10px;
  left: 10px;
}

.frame .div-10 {
  display: flex;
  flex-direction: column;
  width: 208px;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  top: 134px;
  left: 20px;
}

.frame .div-11 {
  display: flex;
  width: 208px;
  align-items: flex-start;
  gap: 7px;
  position: relative;
  flex: 0 0 auto;
}

.frame .rectangle-wrapper {
  position: relative;
  width: 38px;
  height: 38px;
  background-image: url(../gambar/gambar4.png);
  background-size: 100% 100%;
}

.frame .rectangle-2 {
  position: absolute;
  width: 33px;
  height: 33px;
  top: -362px;
  left: -1647px;
  object-fit: cover;
}

.frame .div-12 {
  display: flex;
  flex-direction: column;
  width: 163px;
  align-items: flex-start;
  position: relative;
}

.frame .div-13 {
  display: flex;
  width: 163px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #25242a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .vector-2 {
  position: relative;
  width: 15px;
  height: 3px;
}

.frame .div-wrapper {
  position: relative;
  width: 165px;
  height: 15px;
  margin-right: -2px;
}

.frame .text-wrapper-5 {
  position: absolute;
  width: 163px;
  top: 0;
  left: 0;
  opacity: 0.7;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #56555c;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-14 {
  display: inline-flex;
  align-items: flex-start;
  gap: 3px;
  position: relative;
  flex: 0 0 auto;
}

.frame .profitable-wrapper {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  padding: 4px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #fd71af4c;
  border-radius: 33px;
  overflow: hidden;
}

.frame .profitable {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #fd71af;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .profitable-wrapper-2 {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  padding: 4px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #00b88433;
  border-radius: 33px;
  overflow: hidden;
}

.frame .profitable-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #00b884;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-15 {
  position: absolute;
  width: 248px;
  height: 229px;
  top: 0;
  left: 268px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e6e4f0;
}

.frame .img-wrapper {
  position: relative;
  width: 38px;
  height: 38px;
  background-image: url(../gambar/gambar4.png);
  background-size: 100% 100%;
}

.frame .rectangle-3 {
  top: -362px;
  left: -1915px;
  position: absolute;
  width: 33px;
  height: 33px;
  object-fit: cover;
}

.frame .div-16 {
  position: absolute;
  width: 248px;
  height: 229px;
  top: 0;
  left: 536px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e6e4f0;
}

.frame .group-7 {
  position: relative;
  width: 38px;
  height: 38px;
  background-image: url(../gambar/gambar4.png);
  background-size: 100% 100%;
}

.frame .rectangle-4 {
  top: -362px;
  left: -2183px;
  position: absolute;
  width: 33px;
  height: 33px;
  object-fit: cover;
}

.frame .property-default-2 {
  position: absolute;
  width: 784px;
  height: 229px;
  top: 269px;
  left: 20px;
}

.frame .group-8 {
  position: relative;
  width: 38px;
  height: 38px;
  background-image: url(../gambar/gambar4.png);
  background-size: 100% 100%;
}

.frame .rectangle-5 {
  top: -611px;
  left: -1647px;
  position: absolute;
  width: 33px;
  height: 33px;
  object-fit: cover;
}

.frame .group-9 {
  position: relative;
  width: 38px;
  height: 38px;
  background-image: url(../gambar/gambar4.png);
  background-size: 100% 100%;
}

.frame .rectangle-6 {
  top: -611px;
  left: -1915px;
  position: absolute;
  width: 33px;
  height: 33px;
  object-fit: cover;
}

.frame .group-10 {
  position: relative;
  width: 38px;
  height: 38px;
  background-image: url(../gambar/gambar4.png);
  background-size: 100% 100%;
}

.frame .rectangle-7 {
  top: -611px;
  left: -2183px;
  position: absolute;
  width: 33px;
  height: 33px;
  object-fit: cover;
}


.sidepanel {
  height: 600px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #f1f1f1; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  border-left-width: 0.8px;
  border-left-style: solid;
  border-color: black;
}


/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 70%;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 10px;
  cursor: pointer;
  background-color: #f1f1f1;
  color: #111;
  padding: 5px 10px;
  border: none;

}

.openbtn:hover {
  background-color: #444;
}

.openbtn{
  margin-left: 85%;
}


.pilih{
  display: flex;
  justify-content:space-around;
  border-width: 24px;
}

.Nfolder{
  margin-left: 15px;
}
.Nfolder input{
  border-radius: 8px;
  border-style: solid;
  border-color: #818181;
}

.tanggal{
  margin-left: 15px;
}
.tanggal input{
  border-radius: 8px;
  border-style: solid;
  border-color: #818181;
}
